body {
  background-image: url("../img/northern-lights.jpg");
  background-color: rgb(20, 55, 58);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.container {
  border-radius: 25px;
  width: 350px; 
  height: 700px;
  background-color: rgb(24, 53, 73);
  color: white;
}

main {
  width: 350px; 
  height: 400px;
}

section {
  width: 350px; 
  height: 75px;

}

.action {
  width: 350px; 
  height: 100px;
  font-size: 20px;
}

directions {
  text-align: center;
  font-size: 50px;

}

options {
  align-items: center;
}

answer {
  text-align: center;
  font-size: 100px;
}

example {
  font-size: 20px;
}

info {
  font-size: 20px;
  word-wrap: normal;
}

next {
  height:2v;
}

reset {
  height:1vh;

}



.columns {
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-column-count: 6;
     -moz-column-count: 6;
          column-count: 6;
  font-size: 13px;        
}
