


body {
  text-align: center;
  background-color: rgb(76, 65, 95);
  color: whitesmoke;


}

row {
  background-color: rgb(76, 65, 95);
  color: whitesmoke;

}

header {
  font-size: large;
  color: whitesmoke;
}